<template lang="pug">
mdc-drawer(toggle-on='toggle-drawer')
	mdc-drawer-list
		mdc-drawer-item(start-icon='beach_access') Vue MDC Adapter

		mdc-drawer-item(start-icon='beach_access') Vue Material Adapter

		mdc-drawer-item(start-icon='free_breakfast') Nuxt MDC

		mdc-drawer-item(start-icon='all_inclusive') Angular MDC

		mdc-drawer-item(start-icon='local_library') Meteor MDC

		mdc-drawer-item(start-icon='my_location') Material Components Vue

		mdc-drawer-item(start-icon='settings_input_antenna') Google MDC Web

		mdc-drawer-item(start-icon='rowing') MDC React
</template>

<script>
	export default {
	name: 'hello',
	data () {
		return {
			msg: 'Bom Dia, Meia-Noite'
		}
	}
}

</script>
