<template lang="html">
	<mdc-layout-grid class="content">
		<mdc-layout-cell span=12>
		</mdc-layout-cell>

		<mdc-layout-cell span=8>
			<mdc-card style="padding: 25px">
				<mdc-card-header :title="title" :subtitle="subtitle" />
				<mdc-card-text>
					<p><p>
					<div class="banner" style="margin: 0 auto">
						<mdc-grid-list width="60">
							<mdc-grid-tile :src="mdcLogo"/>
							<mdc-grid-tile :src="vueLogo"/>
							<mdc-grid-tile :src="vmaLogo"/>
						</mdc-grid-list>
					</div>
				</mdc-card-text>

				<mdc-card-actions>
					<mdc-button style="margin-top: 15px" outlined to=""
						v-for="action in actions" :key="action.name"
						:href="action.href"
					>{{ action.name }}</mdc-button>
				</mdc-card-actions>
				</mdc-card>
		</mdc-layout-cell>
	</mdc-layout-grid>
</template>

<script>
import mdcLogo from '../assets/cathar-crux.svg'
import vueLogo from '../assets/alchemy-sulphuric.svg'
import vmaLogo from '../assets/cathar-crux.svg'

export default {
  name: 'hello',
  data () {
	return {
		vueLogo,
		mdcLogo,
		vmaLogo,
		title: 'Adieu, Adieu au Monde Immonde',
		subtitle: 'Cloned in San Pavlov City 2018',
		actions: [
			{name: 'The Beguine', href: '/'},
		]
	}
  }
}
</script>

<style scoped>
.content {
	padding: 32px;
	min-width: 100px;
	max-width: 800px;
	margin: auto;
}

.subtitle {
	font-size: 23px;
}

</style>
