<template lang="pug">
mdc-toolbar(waterfall)
  mdc-toolbar-row
    mdc-toolbar-section(align-start)
      mdc-toolbar-menu-icon(event='toggle-drawer')
      mdc-toolbar-title
        i.fas.fa-sun.fa-2x
        | &nbsp;&nbsp;Engenho Novo Vue-MDC

    mdc-toolbar-section(align-end)
      mdc-toolbar-icon(event='show-help', icon='directions_bike', href='/', target='_blank')
</template>

<script>
	export default {
  name: 'hello',
  data () {
    return {
      msg: 'Bom Dia, Meia-Noite'
    }
  }
}

</script>

<style>

</style>
